apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml

commonLabels:
  app.kubernetes.io/name: postgres-exporter
  app.kubernetes.io/component: metrics
  app.kubernetes.io/part-of: goapps
