apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: finance-service
  app.kubernetes.io/component: api
  app.kubernetes.io/part-of: goapps
